/* setting theme colors */
:root {
  --primary-color: rgb(18, 18, 18);
  --secondary-color: rgb(255, 255, 255);
  --theme-color: rgb(79, 199, 238);
}
/* resetting the html doc */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.buttongen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 20px;
  flex-wrap: wrap;
  gap: 10px;

}
.buttonsettings,
.previewbutton {
  min-height: 500px;
}
.previewbutton {
  display: flex;
  justify-content: center;
  align-items: center;

}
.buttonsettings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-style: solid;
  border-width: 1px;

}
.buttonsettings > div {
  background-color: rgb(29, 29, 29);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.params {
  display: flex;
  flex-direction: column;
}

.buttoncssresult{
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  margin-top: 5px;
  font-size: 1.2rem;
}
@media (max-width: 1160px) {
  .buttongen {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .buttonsettings,.previewbutton,.buttoncssresult{
    width: 80vw;
  }
  .sbuttoncssresult{
    font-size: 0.8rem;
  }
}
@media (max-width: 379px) {
  .buttoncssresult{
    font-size: 0.6rem;
  }
  
}